targets/TARGET_Cypress/TARGET_PSOC6/psoc6pdl/udd/schemas/baseview.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="baseview">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="siliconid" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="shortsiliconid" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="familyid" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="revisionid" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="major" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="minor" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="mcu" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="vendor" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="flash" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
        <xs:element name="ram" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
        <xs:element name="package" type="xs:string" minOccurs="0" maxOccurs="1" />
        <xs:element name="pins" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
        <xs:element name="minvoltage" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
        <xs:element name="maxvoltage" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>